.StartalkButton, .StartalkButtonSpec {
    transition: all 0.2s ease;
}

.StartalkButton{
    background-color: var(--primary);
    box-shadow: none;
    border: none;
}
.StartalkButton:hover{
    background-color: #4251f3;
}

.StartalkButtonSpec{
    background-color: transparent;
    box-shadow: none;
    border: 2px outset transparent;
    color: var(--text)
}

.StartalkButtonSpec:hover{
    border-color: #c7c5c5;
}

