.Base{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

@media (max-width: 500px) {
    .Base{
        display: block;
    }
}

@media (max-width: 500px) {
    .separator{
        display : none;
    }
}