.Main{
    flex: 1; /* La div flexible occupe tout l'espace restant à droite */
    padding: 20px 20px;
    margin: 0 15px;
    height: 100%;
    overflow: auto;
}

.Main::-webkit-scrollbar {
    display: none;
}