.dimensions-menu {
    position: relative;
    width: 25%;
    padding: 1%;
    display: flex;
    flex-direction: column;
}

.toolbarcss{
    background-color:transparent;
    border: 1px solid transparent;
    padding:10px;
}

@media (max-width: 500px) {
    .three-dimensions-menu{
        width : 100%;
    }
}

.flex {
    flex: 1 1 0;
}

.buttonStyle {
    padding: 8px 12px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
    width: 210px;
    transition: background-color 0.5s ease;
    border: none;
    height : 40px;
}

.PostButtonCss{
    margin:10px auto;
    width: 100px;
}

.MenuItemlLabel {
    background-color: var(--secondary);
    border-radius: 5px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
    padding: 10px;
    margin: 20px 0;
    transition: all 0.8s ease;
    border: none;
}

.MenuP{
    background-color: transparent;
    border: none;
    box-shadow: none;

}

.labaelsIconMenu{
    background-color: transparent;
    color: var(--text);
    box-sizing: border-box;
}

.p-submenu-header {
    background-color: transparent !important;
    text-decoration: underline var(--text);
}

.p-menuitem-link:hover {
    background-color: var(--menuHoverItem) !important ;
    box-shadow: none;
}

.logo{
    width: 6vw;
    object-fit: contain;
    pointer-events: none;
    margin-right: 30px;
    filter: invert(var(--valfilter));
}

.titre{
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;

    & h1{
        font-size: 4vw;
    }
}

@media (min-width: 1000px) {
    .titre h1 {
        font-size: 40px;
    }

    .logo{
        width: 60px;
    }
}