.three-dimensions-menu {
    position: relative;
    width: 25%;
    padding: 1%;
    display: flex;
    flex-direction: column;
}

@media (max-width: 500px) {
    .three-dimensions-menu{
        width : 100%;
    }
}

.flex {
    flex: 1 1 0;
}

.buttonStyle {
    color: #fff;
    padding: 8px 12px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
    width: 210px;
    background-color: #5165f6;
    transition: background-color 0.5s ease;
    border: none;
    height : 40px;
}

.buttonStyle:hover{
    background-color: #3b4d9e;
}

.logo{
    width: 6vw;
    object-fit: contain;
}

.titre{
    display: flex;
    align-items: center;
    justify-content: center;

    & h1{
        font-size: 4vw;
    }
}

@media (min-width: 1000px) {
    .titre h1 {
        font-size: 40px;
    }

    .logo{
        width: 60px;
    }
}