.three-dimensions-rightside {
    position: relative;
    width : 25%;
    height: 100%;
    padding: 2%;
    overflow: auto;
}

@media (max-width: 500px) {
    .three-dimensions-rightside{
        width : 100%;
    }
}

p{
    overflow: auto;
}

p::-webkit-scrollbar {
    display: none;
}