.ulStyleCitation{
    list-style-type: none;
}

.scrollPanelStyle{
    height: 200px;
    width : 100%;
}

.noneFavsLikePara{
    user-select:  none;
    font-style: italic;
    text-align: center;
}

.myPanelHeader{
    font-size : 20px;
}

.descCitation{
    background-color: var(--secondary);
    border-radius: 10px;
    box-shadow: 0 2px 30px rgba(0, 0, 0, 0.15);
    margin-bottom: 30px;
    transition: all 0.8s ease;
    width: 100%;
    height:10%;
}

.infoCitaiton{
    font-size:15px;
    display: flex;
    justify-Content: space-between;
    user-select: none;
}

.principalPanel{
    background-color : var(--secondary);
    transition: all 0.8s ease;
}
/* Override PrimeReact Css */
.p-panel-content, .p-panel-header, .p-tabview-panels{
    background-color : transparent !important;
}

.p-tabview-nav-link{
    background-color : transparent !important;
    color : var(--text);
    border : var(--HoverItem)  solid 1px !important;
}

.p-tabview-selected {
    background-color:var(--HoverItem) ;
}


