.userProfile{
    background-color: var(--secondary);
    border-radius: 10px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
    margin-bottom: 30px;
    transition: all 0.8s ease;
    width: 100%;
    height:13.05em;
}
.p-fieldset-legend{
    background-color: var(--third) !important;
    color : var(--text);
    transition: all 0.3s ease-in-out;
}